#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
}

.content-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
}

@keyframes ldio-o2kanlkzodq {
  0% { background: #5699d2 }
  12.5% { background: #5699d2 }
  12.625% { background: #1d3f72 }
  100% { background: #1d3f72 }
}
.ldio-o2kanlkzodq div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #1d3f72;
  animation: ldio-o2kanlkzodq 1s linear infinite;
}
.loadingio-spinner-blocks-ilt52kti4c {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}
.ldio-o2kanlkzodq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-o2kanlkzodq div { box-sizing: content-box; }


.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4rem;
  transition: width 0.15s ease-in-out 0s;
  z-index: 10;
}

.menu-container[expanded] {
  width: 15rem;
}
